<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.buckminster.cmdline.commands">
      <command
            addhelpflags="true"
            class="org.eclipse.buckminster.pde.product.commands.ProductExport"
            name="exportproduct"
            status="NORMAL">
         <alias name="xprd"/>
      </command>
      <command
            addhelpflags="true"
            class="org.eclipse.buckminster.pde.product.commands.ListPlatforms"
            name="listplatforms"
            status="NORMAL">
         <alias name="lspl"/>
      </command>
      <command
            addhelpflags="true"
            class="org.eclipse.buckminster.pde.product.commands.IncludeDeltaPack"
            name="includedeltapack"
            status="NORMAL">
         <alias
               name="incld">
         </alias>
      </command>
   </extension>

</plugin>
